---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getPagesList } from '../../../notion';

export const prerender = false;

const pages = await getPagesList();

const formattedDate = (date?: string) => new Date(date || "").toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' });

---


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
		<body class="bg-background flex flex-col min-h-screen">
		<Header />
		<main class="flex-1 px-120 bg-background">
			<h1 class="text-4xl font-bold text-center pt-12 text-primary">Blogs</h1>
				<ul class="flex flex-col gap-4 bg-surface rounded-lg p-4 mt-12 border border-accent">
					{
						pages.map((page) => (
							<li class="bg-surface hover:bg-accent rounded-lg p-4">
								<a href={`/blog/${page?.id}/?title=${page?.title}&date=${page?.date}`} class="flex flex-row justify-between items-center">
									<h4 class="text-2xl font-bold text-secondary">{page?.title}</h4>
									<p class="text-sm text-secondary">{formattedDate(page?.date)}</p>
								</a>
							</li>
						))
					}
				</ul>
		</main>
		<Footer />
	</body>
</html>
